<form action="/pdf" method="POST">
    <input type="text" name="titulo" placeholder="titulo">
    <input type="text" name="aluno" placeholder="Digite o nome do Aluno">
    <input type="text", name="realizado" placeholder="Data de realização">
    <input type="number" name="carga" placeholder="Carga Horária">
    <input type="hidden" name="quantidade" value ="50">
    <button type="submit">Enviar</button>
</form>
